.selection-box {
    position: absolute;
    background: transparent;
    border: 1px dotted #000;
    border-color: red;
    border-width: thick;   
}

#picanvas {
	border: 1px solid #000;
	width: 100%;
	height: 100%;
}

#canvasBackgroundRaw {
    position: absolute;
}

#rawPointRedefineCanvas {
    position: relative;
    z-index: 20;
}
