<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Minority Report | DEBUG</title>

    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
          integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7"
           crossorigin="anonymous">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>

    <div class="container">

      <!-- NAV -->
      <ul class="nav nav-tabs">
        <li role="presentation"><a href="/">Home</a></li>
        <li role="presentation"><a href="/hud">Hud</a></li>
        <li role="presentation"class="active"><a href="/debug">Debug</a></li>
      </ul>

      <!-- HEADER -->
      <div class="page-header">
        <h1>Minority Report Debug UI <small>Because nobody&#39;s perfect</small></h1>
      </div>

      <!-- USERS -->
      <div class="panel panel-info">
        <div class="panel-heading">Users</div>
        <div class="panel-body">
          <table class="table table-hover">
            <thead>
              <td class="col-md-4">ID</td>
              <td class="col-md-6">Username</td>
              <td class="col-md-2"></td>
            </thead>
            <tbody class="usersTable">

            </tbody>
            <tfoot>
              <tr>
                <td></td>
                <td>
                  <input type="text" class="form-control usersTable-add_username" placeholder="Username">
                </td>
                <td>
                  <button type="submit" class="btn btn-success usersTable-add">Add</button>
                </td>
              </tr>
            </tfoot>
          </table>
        </div>
      </div>

      <!-- SESSIONS -->
      <div class="panel panel-info">
        <div class="panel-heading">Sessions</div>
        <div class="panel-body">
          <table class="table table-hover">
            <thead>
              <td class="col-md-4">ID</td>
              <td class="col-md-3">Name</td>
              <td class="col-md-3">Description</td>
              <td class="col-md-2"></td>
            </thead>
            <tbody class="sessionsTable">

            </tbody>
            <tfoot>
              <tr>
                <td></td>
                <td>
                  <input type="text" class="form-control sessionsTable-add_name" placeholder="Name">
                </td>
                <td>
                  <input type="text" class="form-control sessionsTable-add_description" placeholder="Description">
                </td>
                <td>
                  <button type="submit" class="btn btn-success sessionsTable-add">Add</button>
                </td>
              </tr>
            </tfoot>
          </table>
        </div>
      </div>

      <!-- INSTANCE CONFIGURATIONS -->
      <div class="panel panel-info">
        <div class="panel-heading">Instance Configurations</div>
        <div class="panel-body">
          <table class="table table-hover">
            <thead>
              <td class="col-md-4">ID</td>
              <td class="col-md-6">Details</td>
              <td class="col-md-2"></td>
            </thead>
            <tbody class="instanceConfigsTable">

            </tbody>
            <tfoot>
              <tr>
                <td></td>
                <td>
                  <div class="form">
                    <div class="form-group">
                      <label for="configInstanceSession">Session</label>
                      <select class="instanceConfigsTable-add_sessionId sessionsList form-control" id="configInstanceSession">
                        <option selected="selected" value="">None</option>
                      </select>
                    </div>

                    <div class="form-group">
                      <label for="configInstanceUser">User</label>
                      <select class="instanceConfigsTable-add_userId usersList form-control" id="configInstanceUser">
                        <option selected="selected" value="">None</option>
                      </select>
                    </div>
                    <div class="row">
                      <div class="col-md-6">
                        <div class="form-group">
                          <label for="configInstanceTopLeft">TopLeft as (x,y)</label>
                          <input class="instanceConfigsTable-add_topLeft form-control"
                                 id="configInstanceTopLeft"
                                 type="text"
                                 placeholder="(x,y)">
                        </div>

                        <div class="form-group">
                          <label for="configInstanceBottomLeft">BottomLeft as (x,y)</label>
                          <input class="instanceConfigsTable-add_bottomLeft form-control"
                                 id="configInstanceBottomLeft"
                                 type="text"
                                 placeholder="(x,y)">
                        </div>

                        <div class="form-group">
                          <label for="configInstanceCameraHost">Camera Host</label>
                          <input class="instanceConfigsTable-add_cameraHost form-control"
                                 id="configInstanceCameraHost"
                                 type="text"
                                 placeholder="localhost"
                                 value="localhost">
                        </div>

                        <div class="form-group">
                          <label for="configInstanceKinectHost">Kinect Host</label>
                          <input class="instanceConfigsTable-add_kinectHost form-control"
                                 id="configInstanceKinectHost"
                                 type="text"
                                 placeholder="localhost"
                                 value="localhost">
                        </div>

                      </div>

                      <div class="col-md-6">

                        <div class="form-group">
                          <label for="configInstanceTopRight">TopRight as (x,y)</label>
                          <input class="instanceConfigsTable-add_topRight form-control"
                                 id="configInstanceTopRight"
                                 type="text"
                                 placeholder="(x,y)">
                        </div>

                        <div class="form-group">
                          <label for="configInstanceBottomRight">BottomRight as (x,y)</label>
                          <input class="instanceConfigsTable-add_bottomRight form-control"
                                 id="configInstanceBottomRight"
                                 type="text"
                                 placeholder="(x,y)">
                        </div>

                        <div class="form-group">
                          <label for="configInstanceCameraPort">Camera Port</label>
                          <input class="instanceConfigsTable-add_cameraPort form-control"
                                 id="configInstanceCameraPort"
                                 type="number"
                                 placeholder="8080"
                                 value="8080">
                        </div>

                        <div class="form-group">
                          <label for="configInstanceKinectPort">Kinect Port</label>
                          <input class="instanceConfigsTable-add_kinectPort form-control"
                                 id="configInstanceKinectPort"
                                 type="number"
                                 placeholder="8081"
                                 value="8081">
                        </div>
                      </div>
                    </div>
                  </div>
                </td>
                <td>
                  <button type="submit" class="btn btn-success instanceConfigsTable-add">Add</button>
                </td>
              </tr>
            </tfoot>
          </table>
        </div>
      </div>

      <!-- IMAGES -->
      <div class="panel panel-info">
        <div class="panel-heading">Images</div>
        <div class="panel-body">
          <table class="table table-hover">
            <thead>
              <td class="col-md-4">ID</td>
              <td class="col-md-3">Timestamp</td>
              <td class="col-md-3">InstanceConfiguration</td>
              <td class="col-md-2"></td>
            </thead>
            <tbody class="imagesTable">

            </tbody>
            <tfoot>
              <tr>
                <td>
                  <input type="file" class="form-control imagesTable-add_image" placeholder="Name">
                </td>
                <td>
                  <input type="text" class="form-control imagesTable-add_timestamp" placeholder="Now">
                </td>
                <td>
                  <select class="imagesTable-add_instanceConfigId instanceConfigsList form-control">
                    <option selected="selected" value="">None</option>
                  </select>
                </td>
                <td>
                  <button type="submit" class="btn btn-success imagesTable-add">Add</button>
                </td>
              </tr>

              <tr>
                <td>
                  <input type="text" class="form-control imagesTable-add_imageUri" placeholder="localhost">
                </td>
                <td>
                  <input type="text" class="form-control imagesTable-add_imagePort" placeholder="8080">
                </td>
                <td>
                  <select class="imagesTable-add_instanceConfigId instanceConfigsList form-control">
                    <option selected="selected" value="">None</option>
                  </select>
                </td>
                <td>
                  <button type="submit" class="btn btn-success imagesTable-get">Get</button>
                </td>
              </tr>
            </tfoot>
          </table>
        </div>
      </div>
      <!-- TODO: CANVASES -->
      <!-- TODO: POSTITS -->

    </div>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"
            integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS"
            crossorigin="anonymous">
    </script>
    <script src="https://cdn.socket.io/socket.io-1.4.5.js" type="text/javascript"></script>
    <script>
      var socket = io();
    </script>
    <script src="/static/js/debug/users.js"></script>
    <script src="/static/js/debug/sessions.js"></script>
    <script src="/static/js/debug/instanceConfiguration.js"></script>
    <script src="/static/js/debug/images.js"></script>
  </body>
</html>