<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Minority Report | DEBUG</title>

    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
          integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7"
           crossorigin="anonymous">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>

    <div class="container">

      <!-- NAV -->
      <ul class="nav nav-tabs">
        <li role="presentation"><a href="/">Home</a></li>
        <li role="presentation"><a href="/hud">Hud</a></li>
        <li role="presentation"class="active"><a href="/debug">Debug</a></li>
      </ul>

      <!-- HEADER -->
      <div class="page-header">
        <h1>Minority Report Debug UI <small>Because nobody&#39;s perfect</small></h1>
      </div>

      <!-- USERS -->
      <div class="panel panel-info">
        <div class="panel-heading">Users</div>
        <div class="panel-body">
          <table class="table table-hover">
            <thead>
              <td class="col-md-4">ID</td>
              <td class="col-md-6">Username</td>
              <td class="col-md-2"></td>
            </thead>
            <tbody class="usersTable">

            </tbody>
            <tfoot>
              <tr>
                <td></td>
                <td>
                  <input type="text" class="form-control usersTable-add_username" placeholder="Username">
                </td>
                <td>
                  <button type="submit" class="btn btn-success usersTable-add">Add</button>
                </td>
              </tr>
            </tfoot>
          </table>
        </div>
      </div>

      <!-- SESSIONS -->
      <div class="panel panel-info">
        <div class="panel-heading">Sessions</div>
        <div class="panel-body">
          <table class="table table-hover">
            <thead>
              <td class="col-md-4">ID</td>
              <td class="col-md-3">Name</td>
              <td class="col-md-3">Description</td>
              <td class="col-md-2"></td>
            </thead>
            <tbody class="sessionsTable">

            </tbody>
            <tfoot>
              <tr>
                <td></td>
                <td>
                  <input type="text" class="form-control sessionsTable-add_name" placeholder="Name">
                </td>
                <td>
                  <input type="text" class="form-control sessionsTable-add_description" placeholder="Description">
                </td>
                <td>
                  <button type="submit" class="btn btn-success sessionsTable-add">Add</button>
                </td>
              </tr>
            </tfoot>
          </table>
        </div>
      </div>

    </div>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"
            integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS"
            crossorigin="anonymous">
    </script>
    <script src="https://cdn.socket.io/socket.io-1.4.5.js" type="text/javascript"></script>
    <script>
      var socket = io();
    </script>
    <script src="/static/js/debug/users.js"></script>
    <script src="/static/js/debug/sessions.js"></script>
  </body>
</html>