<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Minority Report | DEBUG</title>

    <link rel="stylesheet"
          href="/static/vendor/css/bootstrap-3.3.6.css"
          integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7"
           crossorigin="anonymous">
    <link rel="stylesheet" href="/static/styles/debug.css" >

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="/static/vendor/js/html5shiv-3.7.2.js"></script>
      <script src="/static/vendor/js/respond-1.4.2.js"></script>
    <![endif]-->
  </head>
  <body>

    <div class="calibrationOverlay">
      <h4>Calibrating</h4>
    </div>

    <div class="container">

      <!-- NAV -->
      <ul class="nav nav-tabs">
        <li role="presentation"><a href="/">Home</a></li>
        <li role="presentation"><a href="/hud">Hud</a></li>
        <li role="presentation"class="active"><a href="/debug">Debug</a></li>
      </ul>

      <!-- HEADER -->
      <div class="page-header">
        <h1>Minority Report Debug UI <small title="Except me">Because nobody&#39;s perfect</small></h1>
      </div>

      <div class="panel panel-danger">
        <div class="panel-heading">DB Purge <span class="glyphicon glyphicon-warning-sign"></span></div>
        <div class="panel-body">
          <div class="row">
            <div class="col-md-3">
              <div class="form-group">
                <button type="submit" id="purge_users" class="btn btn-danger btn-block">Users</button>
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-group">
                <button type="submit" id="purge-sessions" class="btn btn-danger btn-block">Sessions</button>
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-group">
                <button type="submit" id="purge-instance-configurations" class="btn btn-danger btn-block">Instance Configs</button>
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-group">
                <button type="submit" id="purge-images" class="btn btn-danger btn-block">Images</button>
              </div>
            </div>

            <div class="col-md-3">
              <div class="form-group">
                <button type="submit" id="purge-canvases" class="btn btn-danger btn-block">Canvases</button>
              </div>
            </div>

            <div class="col-md-3">
              <div class="form-group">
                <button type="submit" id="purge-postits" class="btn btn-danger btn-block">Postits</button>
              </div>
            </div>

            <div class="col-md-3">
              <div class="form-group">
                <button type="submit" id="purge-connections" class="btn btn-danger btn-block">Connections</button>
              </div>
            </div>

            <div class="col-md-3">
              <div class="form-group">
                <button type="submit" id="purge-do-not-click" class="btn btn-danger btn-block">Do not click</button>
              </div>
            </div>

            <hr />
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <button type="submit" id="purge-josh" class="btn btn-danger btn-block">Josh Protocol</button>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <button type="submit" id="purge-josh-inverse" class="btn btn-danger btn-block">Josh Protocol <sup>-1</sup></button>
              </div>
            </div>
            <div class="col-md-12">
              <div class="form-group">
                <button type="submit" id="purge-all" class="btn btn-danger btn-block">Database <span class="glyphicon glyphicon-warning-sign"></span></button>
              </div>
            </div>
          </div>
        </div>
      </div>


      <!-- USERS -->
      <div class="panel panel-info">
        <div class="panel-heading">Users</div>
        <div class="panel-body">
          <table class="table table-hover">
            <thead>
              <tr>
                <td class="col-md-4">ID</td>
                <td class="col-md-6">Username</td>
                <td class="col-md-2"></td>
              </tr>
            </thead>
            <tbody class="usersTable">

            </tbody>
            <tfoot>
              <tr>
                <td></td>
                <td>
                  <label>Username</label>
                  <input type="text" class="form-control usersTable-add_username" placeholder="Username">
                </td>
                <td>
                  <button type="submit" class="btn btn-success usersTable-add">Add</button>
                </td>
              </tr>
            </tfoot>
          </table>
        </div>
      </div>

      <!-- SESSIONS -->
      <div class="panel panel-info">
        <div class="panel-heading">Sessions</div>
        <div class="panel-body">
          <table class="table table-hover">
            <thead>
              <tr>
                <td class="col-md-4">ID</td>
                <td class="col-md-3">Name</td>
                <td class="col-md-3">Description</td>
                <td class="col-md-2"></td>
              </tr>
            </thead>
            <tbody class="sessionsTable">

            </tbody>
            <tfoot>
              <tr>
                <td></td>
                <td>
                  <label>Name</label>
                  <input type="text" class="form-control sessionsTable-add_name" placeholder="Name">
                </td>
                <td>
                  <label>Description</label>
                  <input type="text" class="form-control sessionsTable-add_description" placeholder="Description">
                </td>
                <td>
                  <button type="submit" class="btn btn-success sessionsTable-add">Add</button>
                </td>
              </tr>
            </tfoot>
          </table>
        </div>
      </div>

      <!-- INSTANCE CONFIGURATIONS -->
      <div class="panel panel-info">
        <div class="panel-heading">Instance Configurations</div>
        <div class="panel-body">
          <table class="table table-hover">
            <thead>
              <tr>
                <td class="col-md-4">ID</td>
                <td class="col-md-6">Details</td>
                <td class="col-md-2"></td>
              </tr>
            </thead>
            <tbody class="instanceConfigsTable">

            </tbody>
            <tfoot>
              <tr>
                <td></td>
                <td>
                  <div class="form">
                    <div class="form-group">
                      <label for="configInstanceSession">Session</label>
                      <select class="instanceConfigsTable-add_sessionId sessionsList form-control" id="configInstanceSession">
                        <option selected="selected" value="">None</option>
                      </select>
                    </div>

                    <div class="form-group">
                      <label for="configInstanceUser">User</label>
                      <select class="instanceConfigsTable-add_userId usersList form-control" id="configInstanceUser">
                        <option selected="selected" value="">None</option>
                      </select>
                    </div>
                    <div class="row">
                      <div class="col-md-6">
                        <div class="form-group">
                          <label for="configInstanceTopLeft">TopLeft as (x,y)</label>
                          <input class="instanceConfigsTable-add_topLeft form-control"
                                 id="configInstanceTopLeft"
                                 type="text"
                                 placeholder="(x,y)">
                        </div>

                        <div class="form-group">
                          <label for="configInstanceBottomLeft">BottomLeft as (x,y)</label>
                          <input class="instanceConfigsTable-add_bottomLeft form-control"
                                 id="configInstanceBottomLeft"
                                 type="text"
                                 placeholder="(x,y)">
                        </div>

                        <div class="form-group">
                          <label for="configInstanceCameraHost">Camera Host</label>
                          <input class="instanceConfigsTable-add_cameraHost form-control"
                                 id="configInstanceCameraHost"
                                 type="text"
                                 placeholder="localhost"
                                 value="localhost">
                        </div>

                        <div class="form-group">
                          <label for="configInstanceKinectHost">Kinect Host</label>
                          <input class="instanceConfigsTable-add_kinectHost form-control"
                                 id="configInstanceKinectHost"
                                 type="text"
                                 placeholder="localhost"
                                 value="localhost">
                        </div>

                      </div>

                      <div class="col-md-6">

                        <div class="form-group">
                          <label for="configInstanceTopRight">TopRight as (x,y)</label>
                          <input class="instanceConfigsTable-add_topRight form-control"
                                 id="configInstanceTopRight"
                                 type="text"
                                 placeholder="(x,y)">
                        </div>

                        <div class="form-group">
                          <label for="configInstanceBottomRight">BottomRight as (x,y)</label>
                          <input class="instanceConfigsTable-add_bottomRight form-control"
                                 id="configInstanceBottomRight"
                                 type="text"
                                 placeholder="(x,y)">
                        </div>

                        <div class="form-group">
                          <label for="configInstanceCameraPort">Camera Port</label>
                          <input class="instanceConfigsTable-add_cameraPort form-control"
                                 id="configInstanceCameraPort"
                                 type="number"
                                 placeholder="8080"
                                 value="8080">
                        </div>

                        <div class="form-group">
                          <label for="configInstanceKinectPort">Kinect Port</label>
                          <input class="instanceConfigsTable-add_kinectPort form-control"
                                 id="configInstanceKinectPort"
                                 type="number"
                                 placeholder="8081"
                                 value="8081">
                        </div>
                      </div>
                    </div>
                  </div>
                </td>
                <td>
                  <button type="submit" class="btn btn-success instanceConfigsTable-add">Add</button>
                </td>
              </tr>
            </tfoot>
          </table>
        </div>
      </div>

      <!-- IMAGES -->
      <div class="panel panel-info">
        <div class="panel-heading">Images</div>
        <div class="panel-body">
          <table class="table table-hover">
            <thead>
              <tr>
                <td class="col-md-4">ID</td>
                <td class="col-md-3">Timestamp</td>
                <td class="col-md-3">InstanceConfiguration</td>
                <td class="col-md-2"></td>
              </tr>
            </thead>
            <tbody class="imagesTable">

            </tbody>
            <tfoot>
              <tr>
                <td>
                  <label>File</label>
                  <input type="file" class="form-control imagesTable-add_image" placeholder="Name">
                </td>
                <td>
                  <label>Timestamp</label>
                  <input type="text" class="form-control imagesTable-add_timestamp" placeholder="Now">
                </td>
                <td>
                  <label>Instance Configuration</label>
                  <select class="imagesTable-add_instanceConfigId instanceConfigsList form-control">
                    <option selected="selected" value="">None</option>
                  </select>
                </td>
                <td>
                  <button type="submit" class="btn btn-success imagesTable-add">Add</button>
                </td>
              </tr>

              <tr>
                <td>
                  <label>Camera Host</label>
                  <input type="text" class="form-control imagesTable-add_imageUri" placeholder="localhost">
                </td>
                <td>
                  <label>Camera Port</label>
                  <input type="text" class="form-control imagesTable-add_imagePort" placeholder="8080">
                </td>
                <td>
                  <label>Instance Configuration</label>
                  <select class="imagesTable-add_instanceConfigId instanceConfigsList form-control">
                    <option selected="selected" value="">None</option>
                  </select>
                </td>
                <td>
                  <button type="submit" class="btn btn-success imagesTable-get">Get</button>
                </td>
              </tr>
            </tfoot>
          </table>
        </div>
      </div>

      <!-- CANVASES -->
      <div class="panel panel-info">
        <div class="panel-heading">Canvases</div>
        <div class="panel-body">
          <table class="table table-hover">
            <thead>
              <tr>
                <td class="col-md-4">ID</td>
                <td class="col-md-2">Session</td>
                <td class="col-md-2">Derivations</td>
                <td class="col-md-2">Size</td>
                <td class="col-md-2"></td>
              </tr>
            </thead>
            <tbody class="canvasesTable">

            </tbody>
            <tfoot>
              <tr>
                <td></td>
                <td>
                  <label>Session</label>
                  <select class="canvasesTable-add_session sessionsList form-control">
                    <option selected="selected" value="">None</option>
                  </select>
                </td>
                <td>
                  <div class="form-group">
                    <label>Derived From Canvas</label>
                    <select class="form-control canvasesTable-add_derivedFrom canvasList">
                      <option value>None</option>
                    </select>
                  </div>
                  <div class="form-group">
                    <label>Derived At</label>
                    <input type="text" class="canvasesTable-add_derivedAt form-control" placeholder="Now">
                  </div>
                </td>
                <td>
                  <div class="form-group">
                    <label>Size as (width,height)</label>
                    <input type="text" class="canvasesTable-add_size form-control" placeholder="(1920,1080)">
                  </div>
                </td>
                <td>
                  <button type="submit" class="btn btn-success canvasesTable-add">Add</button>
                </td>
              </tr>
            </tfoot>
          </table>
        </div>
      </div>

      <!-- POSTITS -->
      <div class="panel panel-info">
        <div class="panel-heading">Postits</div>
        <div class="panel-body">
          <table class="table table-hover">
            <thead>
            <tr>
                <td class="col-md-4">ID</td>
                <td class="col-md-2">Canvas</td>
                <td class="col-md-2">Corners</td>
                <td class="col-md-2">Details</td>
                <td class="col-md-2"></td>
              </tr>
            </thead>
            <tbody class="postitsTable">

            </tbody>
            <tfoot>
              <tr>
                <td></td>
                <td>
                  <label>Canvas</label>
                  <select class="postitsTable-add_canvas canvasList form-control">
                    <option selected="selected" value="">None</option>
                  </select>
                </td>
                <td>
                  <div class="form-group">
                    <label>Top Left as (x,y)</label>
                    <input type="text" class="postitsTable-add_topLeft form-control" placeholder="(x,y)">
                  </div>

                  <div class="form-group">
                    <label>Top Right as (x,y)</label>
                    <input type="text" class="postitsTable-add_topRight form-control" placeholder="(x,y)">
                  </div>

                  <div class="form-group">
                    <label>Top Right as (x,y)</label>
                    <input type="text" class="postitsTable-add_bottomRight form-control" placeholder="(x,y)">
                  </div>

                  <div class="form-group">
                    <label>Bottom Left as (x,y)</label>
                    <input type="text" class="postitsTable-add_bottomLeft form-control" placeholder="(x,y)">
                  </div>

                  <div class="form-group">
                    <label>Display Position (x,y)</label>
                    <input type="text" class="postitsTable-add_displayPosition form-control" placeholder="(x,y)">
                  </div>

                  <div class="form-group">
                    <label>Bottom Left as (x,y)</label>
                    <input type="text" class="postitsTable-add_bottomLeft form-control" placeholder="(x,y)">
                  </div>
                </td>
                <td>
                  <div class="form-group">
                    <label>Colour</label>
                    <input type="text" class="form-control postitsTable-add_color" placeholder="orange">
                  </div>
                  <div class="form-group">
                    <label>Physical For</label>
                    <select class="form-control usersList">
                      <option value="">None</option>
                    </select>
                  </div>

                  <div class="form-group">
                    <label>Display Position as (x,y)</label>
                    <input type="text" class="postitsTable-add_displayPos form-control" placeholder="(x,y)">
                  </div>
                </td>
                <td>
                  <button type="submit" class="btn btn-success postitsTable-add">Add</button>
                </td>
              </tr>
            </tfoot>
          </table>
        </div>
      </div>
    </div>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="/static/vendor/js/jquery-2.2.2.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="/static/vendor/js/bootstrap-3.3.6.js"
            integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS"
            crossorigin="anonymous">
    </script>
    <script src="/static/vendor/js/socket.io-1.4.5.js" type="text/javascript"></script>
    <script>
      var socket = io();
    </script>
    <script src="/static/js/debug/users.js"></script>
    <script src="/static/js/debug/sessions.js"></script>
    <script src="/static/js/debug/instanceConfiguration.js"></script>
    <script src="/static/js/debug/images.js"></script>
    <script src="/static/js/debug/canvas.js"></script>
    <script src="/static/js/debug/postits.js"></script>
    <script src="/static/js/debug/purge.js"></script>
  </body>
</html>