<!DOCTYPE html>
<html lang="en">
	<head>
		<!-- Required meta tags always come first -->
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<meta http-equiv="x-ua-compatible" content="ie=edge">

		<!-- Bootstrap CSS -->
		<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/cropper/2.3.0/cropper.min.css">

		<link rel="stylesheet" href="/static/styles/index.css">
	</head>
	<body>
		<div class="container">
			<div class="header clearfix">
				<nav>
					<ul class="nav nav-pills pull-xs-right">
						<li class="nav-item active">
							<a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="#">About</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="#">Contact</a>
						</li>
					</ul>
				</nav>
				<h3 class="text-muted">Minority Report</h3>
			</div>


			<!-- raw whole image -->
			<div class="jumbotron">
				<div class="row">
					<div>
						<img class="img-responsive" src="http://media4.popsugar-assets.com/files/2014/08/08/878/n/1922507/caef16ec354ca23b_thumb_temp_cover_file32304521407524949.xxxlarge/i/Funny-Cat-GIFs.jpg">

						<a id="editCanvasBtn" href="#" data-toggle="modal" data-target="#imageModal" class="btn btn-default btn-block">Edit canvas</a>
					</div>
				</div>
			</div>

			<!-- raw whole image modal -->
			<div id="imageModal" class="modal fade">
				<div class="modal-dialog modal-lg">
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal" aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>
							<h4 class="modal-title" id="myModalLabel">Canvas Location</h4>
						</div>


						<div class="modal-body" id="imageModalContent">
							<div >
								<img id="modalImage" class="img-responsive">
							</div>
						</div>

						<div class="modal-footer">
							<button type="button" class="btn btn-default closeb" data-dismiss="modal">Close</button>
							<button type="button" class="btn btn-primary" data-dismiss="modal" id="imageSave">Save changes</button>
						</div>
					</div>
				</div>
			</div>


			<!-- raw canvas -->
			<div class="jumbotron">
				<div class="row">
					<div>
						<canvas id="picanvas">
							Your browser does not support the HTML5 canvas tag.
						</canvas>
					</div>

					<div class="">
						<div class="btn-group btn-group-justified" data-toggle="buttons">
							<label class="btn btn-default active">
								<input type="checkbox" checked>Show lines</label>
							</label>
							<label class="btn btn-default active">
								<input type="checkbox" checked>Show postits</button>
							</label>
						</div>

						<div class="btn-group btn-group-justified">
							<a href="#" class="btn btn-default" id="lineChange" data-toggle="modal" data-target="#imageModal">Add line</a>
							<a href="#" class="btn btn-default" id="postitChange" data-toggle="modal" data-target="#imageModal">Add postit</a>
						</div>
					</div>    
				</div>
			</div>

			<!-- Directed graph (D3) -->
			<div class="jumbotron">
				<div class="row">
					<div>
						<img class="img-responsive" src="http://www.starwarscats.com/wp-content/uploads/2013/01/darth-vader-cat.jpg">
					</div>
				</div>
			</div>
		</div>

		<!-- jQuery first, then Bootstrap JS. -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
		<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/cropper/2.3.0/cropper.min.js"></script>

		<script src="static/js/canvas.js"></script>
		<script type="text/javascript">
var picanvas = document.getElementById("picanvas");
console.log("hello");
window.onload = function() {
	console.log("hello");
	canvases = $.parseJSON(testJson);
	
	drawPostIts(canvases[1]);
	drawConnections(canvases[1]);
}
		</script>
		<script type="text/javascript">
var wholeImage = "http://media4.popsugar-assets.com/files/2014/08/08/878/n/1922507/caef16ec354ca23b_thumb_temp_cover_file32304521407524949.xxxlarge/i/Funny-Cat-GIFs.jpg",
canvasImage = "http://i.huffpost.com/gen/1975176/images/o-SLEEPY-CAT-WATERMELON-facebook.jpg";

$("#editCanvasBtn").on("click", function() {

	//adds the correct image
	$("#modalImage").attr("src", wholeImage);

	//remove draggabe from image
	$("img").on("dragstart", function(event){
		event.preventDefault();
	});

	var $selection = $("<div>").addClass("selection-box"),
	topLeft,
	topRight,
	width,
	height;

	$("#imageModalContent").on("mousedown", function(event){

		$selection.remove();

		// coordinates of mouse relative to image
		var xVal = event.pageX - $("#modalImage").offset().left + $("#modalImage").position().left;
		var yVal = event.pageY - $("#modalImage").offset().top + $("#modalImage").position().top;

		// add selection box to screen
		$selection.appendTo($("#imageModalContent"));

		$("#imageModalContent").on('mousemove', function(e) {
			var xPos = e.pageX - $("#modalImage").offset().left + $("#modalImage").position().left,
			yPos = e.pageY - $("#modalImage").offset().top + $("#modalImage").position().top,
			width  = Math.abs(xPos - xVal),
			height = Math.abs(yPos - yVal),
			new_x,
			new_y;

			console.log(width.toString() + " " + height.toString());

			new_x = (xPos < xVal) ? (xVal - width) : xVal;
			new_y = (yPos < yVal) ? (yVal - height) : yVal;

			$selection.css({
				'width': width,
				'height': height,
				'top': new_y,
				'left': new_x
			});

		});

		$(document).on("mouseup", function(){
			$("#imageModalContent").off("mousemove");
		}); 
	});
	$(".closeb").click(function() {
		$(".selection-box").remove();
	});
	$("#imageSave").click(function() {
		/*
		   todo: passing topLeft, topRight, height, width to nic
		   get the new canvas image from nic
		   set the new image
		 */
	});
});

$("#lineChange").on("click", function() {
	//the canvas image
	$("#modalImage").attr("src", canvasImage);
});
		</script>
	</body>
</html>
