<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Required meta tags always come first -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta http-equiv="x-ua-compatible" content="ie=edge">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/cropper/2.3.0/cropper.min.css">

        <link rel="stylesheet" href="/static/styles/index.css">
    </head>
    <body>
        <div class="container">
            <div class="header clearfix">
                <!-- NAV -->
                  <ul class="nav nav-tabs">
                    <li role="presentation" class="active"><a href="/">Home</a></li>
                    <li role="presentation"><a href="/hud">Hud</a></li>
                    <li role="presentation"><a href="/debug">Debug</a></li>
                  </ul>
                <h3 class="text-muted">Minority Report</h3>
            </div>

            <div id="loginModal" class="modal fade">
                <div class="modal-dialog modal-lg" data-backgroup="static">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title">Log In</h4>
                        </div>

                        <div class="modal-body">
                            <form>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="userSelect">User</label>
                                            <select class="form-control usersList">
                                                <option value="">None</option>
                                            </select>
                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="">New User Name</label>
                                            <input id="newUserNameBox" type="text" class="form-control" placeholder="Username">
                                        </div>
                                    </div>
                                </div>

                                <hr />

                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="">Session</label>
                                            <select class="form-control sessionsList">
                                                <option value="">None</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="">Session Name</label>
                                            <input id="newSessionNameBox" type="text" class="form-control" placeholder="Session Name">
                                        </div>
                                        <div class="form-group">
                                            <label for="">Session Description</label>
                                            <textarea id="newSessionDescBox" rows="3" class="form-control" placeholder="Session Description"></textarea>
                                        </div>
                                    </div>
                                </div>

                                <hr />

                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="">Instance Configuration</label>
                                            <select class="form-control instanceConfigurationsList">
                                                <option value="">None</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label form="">Camera URI</label>
                                            <input id="newCameraUriBox" type="text" class="form-control" placeholder="http://localhost:8080">
                                        </div>
                                        <div class="form-group">
                                            <label form="">Kinect URI</label>
                                            <input id="newKinectUriBox" type="text" class="form-control" placeholder="http://localhost:8081">
                                        </div>
                                    </div>
                                </div>

                            </form>
                        </div>

                        <div class="modal-footer">
                            <button type="button" class="btn btn-success" id="startBtn">Start</button>
                        </div>
                    </div>
                </div>
            </div>

            <!-- raw whole image -->
            <div class="jumbotron">
                <div class="row">
                    <div>
                        <img id="currentRaw" class="img-responsive" src="">

                        <a id="editCanvasBtn" href="#" data-toggle="modal" data-target="#imageModal" class="btn btn-default btn-block">Redefine Canvas Points</a>
                    </div>
                </div>
            </div>

            <!-- raw whole image modal -->
            <div id="imageModal" class="modal fade">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            <h4 class="modal-title" id="myModalLabel">Canvas Location</h4>
                        </div>


                        <div class="modal-body" id="imageModalContent">
                            <div >
                              <canvas style="width:100%; height:100%;" id="rawPointRedefineCanvas" ></canvas>
                            </div>
                        </div>

                        <div class="modal-footer">
                            <button type="button" class="btn btn-default closeb" data-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-primary" data-dismiss="modal" id="imageSave">Save changes</button>
                        </div>
                    </div>
                </div>
            </div>


            <!-- raw canvas -->
            <div class="jumbotron">
                <div class="row">
                    <div>
                        <canvas id="picanvas">
                            Your browser does not support the HTML5 canvas tag.
                        </canvas>
                    </div>

                    <div class="">
                        <div class="btn-group btn-group-justified" data-toggle="buttons">
                            <label class="btn btn-default active">
                                <input type="checkbox" checked>Show lines</label>
                            </label>
                            <label class="btn btn-default active">
                                <input type="checkbox" checked>Show postits</button>
                            </label>
                        </div>

                        <div class="btn-group btn-group-justified">
                            <a href="#" class="btn btn-default" id="lineChange" data-toggle="modal" data-target="#imageModal">Add line</a>
                            <a href="#" class="btn btn-default" id="postitChange" data-toggle="modal" data-target="#imageModal">Add postit</a>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Directed graph (D3) -->
            <div class="jumbotron">
                <div class="row">
                    <div>
                        <img class="img-responsive" src="http://www.starwarscats.com/wp-content/uploads/2013/01/darth-vader-cat.jpg">
                    </div>
                </div>
            </div>
        </div>

    <!-- jQuery first, then Bootstrap JS. -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/cropper/2.3.0/cropper.min.js"></script>
    <script src="/static/vendor/socket.io-1.4.5.js">
    <script src="https://code.createjs.com/easeljs-0.8.2.min.js"></script>
    <script src="/static/js/index.js"></script>
    </body>
</html>
